
.owl{
    position: absolute;
    right:.1%;
    top:20%;
    transform: scale(0.6, 0.6);
}

.welcome-message {
    padding: 3rem;
    text-align: left;
    width: 40%;
    margin-top: 8rem;
    margin-left: 10%;
    color:white;
}

#footer-index{
    margin-top: 50vw;
}