body {
  font-family: 'Bowlby One SC', cursive;
}
.nav-header {
  font-family: 'Almarai', sans-serif;
}
.hello {
  font-family: 'Londrina Sketch', cursive;
}

.hello h1 {
  font-family: 'Raleway Dots', cursive;
}